
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

@layer base {
  :root {
    --background: 245 245 245;
    --foreground: 17 24 39;
    --card: 255 255 255;
    --card-foreground: 17 24 39;
    --popover: 255 255 255;
    --popover-foreground: 17 24 39;
    --primary: 59 130 246;
    --primary-foreground: 255 255 255;
    --secondary: 229 231 235;
    --secondary-foreground: 17 24 39;
    --muted: 243 244 246;
    --muted-foreground: 107 114 128;
    --accent: 220 70 50;
    --accent-foreground: 255 255 255;
    --destructive: 220 70 50;
    --destructive-foreground: 255 255 255;
    --border: 209 213 219;
    --input: 209 213 219;
    --ring: 59 130 246;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0 0;
    --foreground: 255 255 255;
    --card: 10 10 10;
    --card-foreground: 255 255 255;
    --popover: 10 10 10;
    --popover-foreground: 255 255 255;
    --primary: 59 130 246;
    --primary-foreground: 255 255 255;
    --secondary: 34 34 34;
    --secondary-foreground: 255 255 255;
    --muted: 39 39 39;
    --muted-foreground: 156 163 175;
    --accent: 220 70 50;
    --accent-foreground: 255 255 255;
    --destructive: 220 70 50;
    --destructive-foreground: 255 255 255;
    --border: 52 52 52;
    --input: 52 52 52;
    --ring: 59 130 246;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh; /* Ensure full height */
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for all colors */
  }

  .container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;

    /* Responsive breakpoints */
    @media (min-width: 640px) {
      max-width: 640px;
    }

    @media (min-width: 768px) {
      max-width: 768px;
    }

    @media (min-width: 1024px) {
      max-width: 1024px;
    }

    @media (min-width: 1280px) {
      max-width: 1280px;
    }

    @media (min-width: 1536px) {
      max-width: 1536px;
    }
  }
}
